


{% load staticfiles %}

<!DOCTYPE html>

<html lang="es">

<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<title>{% block title %}Mis Cursos{% endblock %}</title>
</head>

<body>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Fecha</td>
					<td>Servicio</td>
					<td>user</td>
				</tr>
			</thead>
			<tbody>
				{% if cita %}
				{% for pelicula in cita %}
					{% if user.id == pelicula.id_user %}
					<tr>
						<td>{{ pelicula.date }}</td>
						<td>{{ pelicula.service }}</td>
						<td>{{ pelicula.id_user }}</td>
						<td>
							<a class="btn btn-primary" href="{% url 'citas' %}">Editar Voto</a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
				{% else %}
				<h1>No hay registros de peliculas</h1>
				{% endif %}
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
				</div>
			</div>
		</div>
	</div>



</body>

</html>
